# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment & settings
*.env
.env/
*.sqlite3
*.db

# Virtual Environment
venv/

# Logs
*.log

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter / IPython
.ipynb_checkpoints/

# Alembic
migrations/__pycache__/
migrations/*.pyc

# Windows / Mac system files
.DS_Store
Thumbs.db

# Additional scripts
tree.py
draft.py
